<div style="; position : fixed; background :white; z-index:100; width : 100%; height9%; top:0px; padding-top : 5px" >


    <div style = "margin-left: 100px; margin-right: 25px; margin-top: 5px; font-size : 2.5rem; display : inline-block; font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Lobster', cursive;"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target = "_blank">MDN web docs_</a></div>
    <div style = "margin : .5rem; display : inline-block;">References</div>
    <div style = "margin : .5rem; display : inline-block;">Guides</div>
    <div style = "margin : .5rem; display : inline-block;">MDN Plus</div>

    <div style = "display : inline-block; position : relative; top:13px ;margin: .6rem; margin-left : 10rem">
        <img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/512/Themes-icon.png" alt="오류" width = 15px; height = 15px;><b>Thema</b></div>
    <div style = "display : inline-block; position : relative; top:13px ;margin: .6rem;" >
        <img src="http://www.clker.com/cliparts/F/a/V/Q/Q/9/search-icon-orange-hi.png" alt="돋보기 이미지"  width = 15px; height = 15px;>
        <input type = "text" name ="serch">
    </div>
    <div style = "display : inline-block; position : relative; top:13px ;margin: .6rem;"><b>Already a subcriber?</b></div>
    <div style = "display : inline-block; position : relative; top:13px ;margin: .6rem;">

<!--        <input type ="button" value  ="Get MDN Plus">-->

        <button style ="height:3rem; color : #fff; background:black; border-radius:.5rem;"><b>Get MDN Plusb </b></button>
    </div>

    <hr>

</div>