{% extends 'base.html' %}

{% block content %}

<div class = "middle_container" style ="margin-top :50px">
<!--왼쪽 부분-->
    <div class = "left_item" style ="background:#aaa; border-radius: .5rem;" >
        <div style="position : fixed; font-size :.8rem; "  >
        <ul>
            <h2><b>Related Topics</b></h2>
            <h3><b>HTML</b></h3>
            <h3>Tutorials</h3>
            <ul>
                <li>Introduction to HTML</li>
                <li>Multimedia and embedding</li>
                <li>HTML table</li>
            </ul>



            <h3>HTML - Structuring</h3>
            <ul>
                <li>introduction to HTML</li>
                <li>Multimedia and embedding</li>
                <li>HTML table</li>
            </ul>



            <h3>CSS - Styling the web</h3>
            <ul>
                <li>CSS first steps</li>
                <li>CSS building block</li>
                <1  12z
            </ul>
        </ul>
        </div>
    </div>

<!--    중간 부분    -->
    <div class = "middle_item">
         <h1>HTML: HyperText Markup Language</h1>
        HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. Other technologies besides HTML are generally used to describe a web page's appearance/presentation (CSS) or functionality/behavior (JavaScript).

        "Hypertext" refers to links that connect web pages to one another, either within a single website or between websites. Links are a fundamental aspect of the Web. By uploading content to the Internet and linking it to pages created by other people, you become an active participant in the World Wide Web.

        HTML uses "markup" to annotate text, images, and other content for display in a Web browser. HTML markup includes special "elements" such as &lt;h1&gt;

        <h1>Key resource</h1>
        <h3>HTML Introduction</h3>
        <p>If you're new to web development, be sure to read our HTML Basics article to learn what HTML is and how to use it.</p>

        <h3>HTML Tutorials</h3>
        <p>For articles about how to use HTML, as well as tutorials and complete examples, check out our HTML Learning Area.</p>

        <h3>HTML Reference</h3>
        <p>In our extensive HTML reference section, you'll find the details about every element and attribute in HTML.</p>

        <div class = "border-styles" style = "font-margin : 1rem"  >
            <h3>Looking to become a front-end web developer? </h3>
            We have put together a course that includes all the essential information you need to work towards your goal.
            <br>
            <a href="">Get started</a>
            <br><br>

        </div>

        <h1>Beginner's tutorials</h1>
        Our HTML Learning Area features multiple modules that teach HTML from the ground up — no previous knowledge required.
        <br>
        <a href=""><h3>Introduction to HTML</h3></a>
        This module sets the stage, getting you used to important concepts and syntax such as looking at applying HTML to text, how to create hyperlinks, and how to use HTML to structure a web page.
        <br>
        <a href=""><h3>Multimedia and embedding</h3></a>
        This module explores how to use HTML to include multimedia in your web pages, including the different ways that images can be included, and how to embed video, audio, and even entire other webpages.
        <br>
        <h3>HTML tables</h3>
       Representing tabular data on a webpage in an understandable, accessible way can be a challenge. This module covers basic table markup, along with more complex features such as implementing captions and summaries.
        <h3> HTML forms</h3>
        Forms are a very important part of the Web — these provide much of the functionality you need for interacting with websites, e.g. registering and logging in, sending feedback, buying products, and more. This module gets you started with creating the client-side/front-end parts of forms.
        <h3>Use HTML to solve common problems</h3>
        Provides links to sections of content explaining how to use HTML to solve very common problems when creating a web page: dealing with titles, adding images or videos, emphasizing content, creating a basic form, etc.
        <h1>Advanced topics</h1>
        <h3>CORS enabled image</h3>
        The crossorigin attribute, in combination with an appropriate CORS header, allows images defined by the  element to be loaded from foreign origins and used in a  element as if they were being loaded from the current origin.

    </div>
<!--오른쪽 부분-->
    <div class = "right_item" >
        <div style="position : fixed">
           <h2>In this article</h2>
        <ul>
            <li>중요한 자료</li>
            <li>초보자 자습서</li>
            <li>고급 주제</li>
            <li>참고서</li>
            <li>관련주제</li>


        </ul>
        </div>
    </div>


</div>


{% endblock %}
