{% extends 'base.html' %}

{% block content %}


<div class = "middle_container" style ="margin-top :80px">

    <div class = "left_item" >
        <div>

        </div>
    </div>
    <div class = "middle_item">dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>
        dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>dddddddddddddddddd <br>
        asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>asdfljkhasdljkfhalksjdhfjkasdf <br>1
        <br>asdfljkhasdljkfhalksjdhfjkasdf<br>asdfljkhasdljkfhalksjdhfjkasdf <br>dddddddddddddddddddd</div>

    <div class = "right_item" >
        <div style="position : fixed">
            rrrrrrrrrrrrrrrrrrrrrrrrr <br>
            rrrrrrrrrrrrrrrrrrrrrrrrrr <br>
            rrrrrrrrrrrrrrrrrrrrrr <br>
        </div>
    </div>

</div>


{% endblock %}
